<h1>Editing Grandma Enjoys Music</h1>

<%= render 'form', grandma_enjoys_music: @grandma_enjoys_music %>

<%= link_to 'Show', @grandma_enjoys_music %> |
<%= link_to 'Back', grandma_enjoys_musics_path %>
